body {
  display: flex;
  justify-content: center;
  background-color: grey;
}

/* form */
form {
  display: flex;
  flex-direction: column;
  border: 2px solid darkgray;
  padding: 15px;
}

.buttons {
  display: flex;
}
button {
  margin: 20px 10px;
}